* {
  font-family: PlusJakartaSans, sans-serif;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #f90 #f2f2f2;
}

.triangle-right-tier {
  width: 0;
  height: 0;
  z-index: 20;
  position: absolute;
  right: -12px;
  border-top: 20px solid transparent;
  border-left: 13px solid #FF4E3C;
  border-bottom: 20px solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  z-index: 20;
  position: absolute;
  right: -12px;
  border-top: 15px solid transparent;
  border-left: 13px solid #F9C419;
  border-bottom: 15px solid transparent;
}

.font-normal {
  font-weight: 400;
}

.text-packer-500 {
  --tw-text-opacity: 1;
  color: rgb(130 0 0 / var(--tw-text-opacity));
}

.button-pool {
  width: 100%;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(249 190 0 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}